<manifest 
package="decafbot.scala.tests" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="7"></uses-sdk>
    <application>
        <uses-library android:name="android.test.runner"></uses-library>
    </application>
    <instrumentation 
    android:label="Tests" android:targetPackage="decafbot.scala" android:name="android.test.InstrumentationTestRunner">
</instrumentation>
</manifest>
